body{
  background-color: rgba(18, 44, 158, 0.801);
}

.card-body{

  font-family: 'Times New Roman', Times, serif;
}


.botones{
  display: flex;
  justify-content: space-between;
 
}

.botoncontadormas {
  background-color: #998c13dc;
  font-family: 'Times New Roman', Times, serif;
  color: #000000;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.botoncontadormenos{
  background-color: #4336f4ee;
  font-family: 'Times New Roman', Times, serif;
  color: #000000;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.botoncontadorcero{
  font-family: 'Times New Roman', Times, serif;
  background-color: #f4366f5e;
  color: #000000fa;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

h3{
  font-size: 21px;
  color: antiquewhite;
  font-family:'Times New Roman', Times, serif;
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 0;
  padding: 10px;
}

